# Backend env

OPENAI_API_KEY=
CHAIN_ID=43114
MUON_CHATBOT_BACKEND_PORT=8000

# Frontend env

VITE_PROJECT_PROXY_URL_DEV_PORT=5173
VITE_PROJECT_CHAIN_ID=$CHAIN_ID
VITE_PROJECT_PROXY_URL_DEV_OPEN_AI_URL="http://127.0.0.1:8000/v1"
